/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  white: #FFF;
  greyCharcoal: #313237;
  blackDeep: #0F1121;
  whiteOff: #F1F2F9;
  purple: #905BFF;
  black: #0F0F11;
  blueViolet: #4219D0;
  cyanNeon: #01F8FF;
  blueBright: #216CFF;
  peach: #FFC4AA;
  orange: #F86800;
  yellow: #FFEE15;
  brightBlue: #0057b7;
  blueSky: #3D7FFF;
}

@keyframes dropdown-fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes radio-appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.productsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px 16px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 640px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 838px) {
  .productsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1040px) {
  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .productsList {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
