/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  white: #FFF;
  greyCharcoal: #313237;
  blackDeep: #0F1121;
  whiteOff: #F1F2F9;
  purple: #905BFF;
  black: #0F0F11;
  blueViolet: #4219D0;
  cyanNeon: #01F8FF;
  blueBright: #216CFF;
  peach: #FFC4AA;
  orange: #F86800;
  yellow: #FFEE15;
  brightBlue: #0057b7;
  blueSky: #3D7FFF;
}

@keyframes dropdown-fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes radio-appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cartPage {
  margin-block: 0 56px;
}

@media (min-width: 640px) {
  .cartPage {
    margin-block: 0 64px;
  }
}

@media (min-width: 1040px) {
  .cartPage {
    margin-block: 0 80px;
  }
}

.cartPage .title {
  color: var(--color-primary);
  margin-block: 24px 32px;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -1%;
}

@media (min-width: 640px) {
  .cartPage .title {
    margin-block: 16px 32px;
  }
}

.cartPage .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 640px) {
  .cartPage .content {
    gap: 32px;
  }
}

@media (min-width: 1040px) {
  .cartPage .content {
    flex-direction: row;
  }
}
